    		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-wave">
     	 		<div class="sk-rect1"></div>
       			<div class="sk-rect2"></div>
       			<div class="sk-rect3"></div>
      	 		<div class="sk-rect4"></div>
      			<div class="sk-rect5"></div>
     		</div>
    	</div>
    	<!-- end preloader -->

    	<!-- start home -->
    	<section id="home">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-offset-2 col-md-8">
    					<h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">Kami mewujudkan impian <span>Safari</span> mu</h1>
    					<div class="element">
                            <div class="sub-element">Hai, Sobat Safari</div>
                            <div class="sub-element">Safari Sedoso kini hadir untuk mewujudkan impian pariwisata modern Indonesia</div>
                            <div class="sub-element">Khusus untuk kawala muda pencinta safari Indonesia</div>
                        </div>
    					<a href="https://bit.ly/cofight20" class="btn btn-default wow fadeInUp" >DAFTAR COFIGHT-20</a>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end home -->

    	<!-- start about -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">EVENT <span>BERLANGSUNG</span></h2>
    				</div>
					<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-camera"></i>
								</div>
								<h3 class="media-heading">LOMBA FOTOGRAFI</h3>
							</div>
							<div class="media-body">
								<p>Lomba fotografi diadakan dalam rangka mem <i>blow up</i> pariwisata Indonesia secara kolaboratif dengan seluruh peserta melalui karya fotografi yang mendeskripsikan <i>HOW AMAZING INDONESIA IS !!!</i></p>
								<p><b>Daftar sekarang juga <a rel="nofollow" href="https://bit.ly/cofight20" target="_blank">DISINI</a></b> </p>
								<p><b>Kumpulkan karya/konfirmasi pembayaranmu sekarang juga <a rel="nofollow" href="https://bit.ly/konfircofight20" target="_blank">DISINI</a></b> </p>
							</div>
						</div>
					</div>
					<%# <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
						<div class="media">
							<div class="media-heading-wrapper">
								<div class="media-object pull-left">
									<i class="fa fa-film"></i>
								</div>
								<h3 class="media-heading">LOMBA VIDEOGRAFI</h3>
							</div>
							<div class="media-body">
								<p>Lomba videografi diadakan dalam rangka mem <i>blow up</i> pariwisata Indonesia secara kolaboratif dengan seluruh peserta melalui karya fotografi yang mendeskripsikan <i>HOW AMAZING INDONESIA IS !!!</i></p>
								<p>Daftar sekarang juga <a rel="nofollow" href="https://bit.ly/DokumRihlahTidung" target="_blank">DISINI</a> </p>
							</div>
						</div>
					</div> %>
					
				</div>
			</div>
		</section>
		<!-- end about -->

    	<!-- start team -->
    	<section id="team">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">MEET <span>SAFARI SEDOSO</span> FOUNDER</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="unsplash/zahra.jpg" id="tim1" class="img-responsive" alt="team img 1">
    							<div class="team-des">
    								<h4>ZAHRA</h4>
    								<span>CEO</span>
    								<p>Indonesia kaya akan banyak potensi. Pariwisata salah satunya. Daerah memiliki keterbatasan dalam marketing potensi pariwisatanya. Konsumen menginginkan kemudahan dalam mempersiapkan perjalanan yang bermakna dan dekat dengan masyarakat. Kami Safari Sedoso hadir sebagai jembatan di antara keduanya. Karena bersama kita bisa, bersama-sama bergerak untuk kemajuan bersama.</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
    					<div class="team-wrapper">
    						<img src="unsplash/apri.jpg" id="tim2" class="img-responsive" alt="team img 2">
    							<div class="team-des">
    								<h4>APRIYANI</h4>
    								<span>Head of Administration & Finance</span>
    								<p>Bisa bergabung di Safari Sedoso merupakan kesempatan yang sangat berharga bagi saya.
										Disini saya bisa membuka wawasan saya tentang pariwisata lokal.
										Menjadi bagian dari tim ini merupakan kesempatan luar biasa yang saya miliki.
									</p>
    							</div>
    					</div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="unsplash/rafly.jpg" id="tim3" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>RAFLY</h4>
    								<span>Head of Digital & IT</span>
    								<p>
										Pariwisata lokal perlu untuk dipasarkan secara digital supaya tidak hilang ditelan zaman.
										Tingginya angka pengguna digital saat ini dari berbagai variasi usia menunjukkan bahwa
										platform yang paling tepat untuk memasarkan produk pariwisata adalah INTERNET.
									</p>
    							</div>
    					</div>
    				</div>
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
    					<div class="team-wrapper">
    						<img src="unsplash/listi.png" id="tim4" class="img-responsive" alt="team img 3">
    							<div class="team-des">
    								<h4>LISTIANI</h4>
    								<span>Head of Marketing</span>
    								<p>
										Harapannya, kedepannya Safari Sedoso melalui produk Sadoso Store bisa menggandeng merchant-merchant
										pengusaha lokal yang bergerak dibidang pariwisata tradisional, produk lokal, kesenian lokal, dan melalui
										Sadoso Store dapat di pasarkan secara nasional maupun Internasional.
									</p>
    							</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end team -->

    	<!-- start service -->
    	<section id="service">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>SAFARI SEDOSO</span> PRODUCTS</h2>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-suitcase"></i>
    					<h4>Sadoso Trip</h4>
    					<p>
							"Jalan bareng Safari Sedoso #ciptakanmomen"
							Layanan digital mempermudah perencanaan, pemesanan, dan pelaksanaan perjalanan Anda. 
							Tersedia untuk custom special trip bersifat personal atau grup (kecil maupun rombongan).
						</p>
						<p>
							Menghimpun pemuda peduli pariwisata dalam Komunitas Sayap Nusantara
						</p>
    				</div>
    				<div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
    					<i class="fa fa-university"></i>
    					<h4>Ini Safari Studio</h4>
    					<p>
							#belajarbarengSaSo: Mengadakan seminar/webinar edukatif 
							#shantai bareng Saso : Sharing santai bersama narasumber pilihan.
						</p>
    				</div>
    				<div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
    					<i class="fa fa-shopping-cart"></i>
    					<h4>Sadoso Store</h4>
    					<p>
							"Teman berjualan dan berbelanja produk-produk UMKM bangsa"
							#Sasobelanja : kemudahan berbelanja produk-produk UMKM Indonesia
							#temanjualan Saso : Layanan untuk UMKM meningkatkan promosi penjualan dan konsultasi bisnis bersama Safari Sedoso 
							#rumahdesainSaso :
							Layanan desain untuk peningkatan promosi penjualan produk Anda.
						</p>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end servie -->

		<%# <!-- start portfolio -->
    	<section id="portfolio">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>AWESOME</span> PORTFOLIO</h2>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
    					   <img src="awesome1-master/images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project One</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
    				</div>
    				<div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Two</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Three</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Four</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img3.jpg" class="img-responsive" alt="portfolio img 3">
                                <div class="portfolio-overlay">
                                    <h4>Project Five</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img4.jpg" class="img-responsive" alt="portfolio img 4">
                                <div class="portfolio-overlay">
                                    <h4>Project Six</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img 1">
                                <div class="portfolio-overlay">
                                    <h4>Project Seven</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
                        <div class="portfolio-thumb">
                           <img src="awesome1-master/images/portfolio-img2.jpg" class="img-responsive" alt="portfolio img 2">
                                <div class="portfolio-overlay">
                                    <h4>Project Eight</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisque tempus ac eget dia.</p>
                                    <a href="#" class="btn btn-default">DETAIL</a>
                                </div>
                        </div>
                    </div>
    			</div>
    		</div>
    	</section>
    	<!-- end portfolio --> %>

    	<!-- start contact -->
    	<section id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					<h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">CONTACT <span>US</span></h2>
    				</div>
					<%# <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
    					<form action="#" method="post">
    						<label>NAME</label>
    						<input name="fullname" type="text" class="form-control" id="fullname">
   						  	
                            <label>EMAIL</label>
    						<input name="email" type="email" class="form-control" id="email">
   						  	
                            <label>MESSAGE</label>
    						<textarea name="message" rows="4" class="form-control" id="message"></textarea>
    						
                            <input type="submit" class="form-control">
    					</form>
    				</div> %>
    				
    				<div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
    					<address>
    						<p class="address-title" style="text-align: center;">OUR ADDRESS</p>
    						<span>We'd love to meet and keep in touch with you.</span>
    						<p><i class="fa fa-whatsapp"></i> 0859-4212-3069</p>
    						<p><i class="fa fa-envelope-o"></i> patridorama.trip@gmail.com </p>
    						<p><i class="fa fa-map-marker"></i> Kaum Kidul 47, Bandung</p>
    					</address>
    					<ul class="social-icon">
    						<li><h4>WE ARE SOCIAL</h4></li>
    						<%# <li><a href="#" class="fa fa-facebook"></a></li> %>
    						<%# <li><a href="#" class="fa fa-twitter"></a></li> %>
    						<li><a href="https://www.instagram.com/safarisedoso/?hl=id" class="fa fa-instagram"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- end contact -->

        <!-- start copyright -->
        <footer id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                       	Copyright &copy; 2020 Safari Sedoso</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end copyright -->